@import "tailwindcss";

@font-face {
  font-family: "DM";
  src:
    url("./fonts/MTMchedlidzeHelnatceri1.woff2") format("woff2"),
    url("./MTMchedlidzeHelnatceri1.woff") format("woff"),
    url("./fonts/MTMchedlidzeHelnatceri1.eot") format("embedded-opentype"),
    url("./fonts/MTMchedlidzeHelnatceri1.svg#DMArchium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-DM: "DM", sans-serif;
}

@font-face {
  font-family: "HF";
  src:
    url("./fonts/MTMchedlidzeHelnatceri1.woff2") format("woff2"),
    url("./MTMchedlidzeHelnatceri1.woff") format("woff"),
    url("./fonts/MTMchedlidzeHelnatceri1.eot") format("embedded-opentype"),
    url("./fonts/MTMchedlidzeHelnatceri1.svg#DMArchium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-HF : "HF", sans-serif;
}


@font-face {
  font-family: "BPGB";
  src:
    url("./fonts/BPGBoxo-Boxo.woff2") format("woff2"),
    url("./fonts/BPGBoxo-Boxo.woff") format("woff"),
    url("./fonts/BPGBoxo-Boxo.eot") format("embedded-opentype"),
    url("./fonts/BPGBoxo-Boxo.svg#BPGBoxo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-BPGB: "BPGB", sans-serif;
}

@theme {
  --color-Gold:#E5A93C;
  --color-textMuted: #E5A93C;
  --color-footer: #1c1c1c;
}

.container-center {
  @apply w-full max-w-350 px-6 lg:w-11/12 mx-auto;
}
