@import "tailwindcss";

@font-face {
  font-family: "DM";
  src:
    url("./fonts/DMConstitution-Regular.woff2") format("woff2"),
    url("./DMConstitution-Regular.woff") format("woff"),
    url("./fonts/DMConstitution-Regular.eot") format("embedded-opentype"),
    url("./fonts/DMConstitution-Regular.svg#DMArchium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-DM: "DM", sans-serif;
}

@font-face {
  font-family: "TITLE";
  src:
    url("./fonts/DMConstitution-Regular.woff2") format("woff2"),
    url("./DMConstitution-Regular.woff") format("woff"),
    url("./fonts/DMConstitution-Regular.eot") format("embedded-opentype"),
    url("./fonts/DMConstitution-Regular.svg#DMArchium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-TITLE: "TITLE", sans-serif;
}

@font-face {
  font-family: "NAVBAR";
  src:
    url("./fonts/AcadMtavr.woff2") format("woff2"),
    url("./fonts/AcadMtavr.woff") format("woff"),
    url("./fonts/AcadMtavr.eot") format("embedded-opentype"),
    url("./fonts/AcadMtavr.svg#NAVBARoxo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-NAVBAR: "NAVBAR", sans-serif;
}

@theme {
  --color-Gold:  #FFC847;
  --color-BG: #0a0a0a;
  --color-textMuted: #FFDA85;
  --color-footer: #1c1c1c;
}

.container-center {
  @apply w-full max-w-350 px-6 lg:w-11/12 mx-auto;
}
